# Ignore system and hidden files
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/

# Flask
instance/
.webassets-cache/
.env
.env.*

# Virtual Environment
venv/
env/
ENV/

# Visual Studio Code
.vscode/
.vscode-server/
.vscode-test/
.history/
.idea/

# Docker
.docker/
.env
*.log
